@model IEnumerable<registro>

<div class="row">
    <form asp-action="Users" method="post">
        <div class="col-lg-6 text-center offset-6">
            <div class="form-group">
                <div class="input-group mb-3">
                    <span class="input-group-text btn btn-primary">
                        <i class="bi bi-search"></i>
                        <input type="submit" value="Search" class="text-white" style="border-top: 0px;border-right: 0px;border-bottom: 0px;border-left: 0px;background-color:transparent;" />
                    </span>
                    <input type="text" class="form-control" placeholder="Search" name="search" id="search" />
                </div>
            </div>
        </div>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Empleado
            </th>
            <th>
                Usuario
            </th>
            <th>
                Contraseña
            </th>
            <th>
                Departamento
            </th>
            <th>
                Rol
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idatencion)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.empleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contrasena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.departamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rol)
            </td>
            <td>
                <div class="btn btn-secondary">
                        <a href="@Url.ActionLink("Edit", "Data", new { id = item.idatencion  })" class="text-white" style="text-decoration:none;">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                </div>
                <div class="btn btn-info">
                        <a href="@Url.ActionLink("Details", "Data", new { id=item.idatencion  })" class="text-white" style="text-decoration:none;">
                        <i class="bi bi-journal-text"></i>
                    </a>
                </div>
                <div class="btn btn-danger">
                        <a href="@Url.ActionLink("Delete", "Data", new registro{ idatencion=item.idatencion  })" class="text-white" style="text-decoration:none;">
                        <i class="bi bi-trash"></i>
                    </a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
