@model IEnumerable<registro>

<p>
    <div class="btn btn-primary">
        <a asp-action="Create" class="text-white" style="text-decoration:none;">
            <i class="bi bi-person-plus"></i>
            New user
        </a>
    </div>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Empleado
            </th>
            <th>
                Usuario
            </th>
            <th>
                Contraseña
            </th>
            <th>
                Departamento
            </th>
            <th>
                Rol
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idatencion)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.empleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contrasena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.departamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rol)
            </td>
            <td>
                <div class="btn btn-secondary">
                    <a href="@Url.ActionLink("Edit", "Data", new {  id=item.idatencion  })" class="text-white" style="text-decoration:none;">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                </div>
                <div class="btn btn-info">
                    <a href="@Url.ActionLink("Details", "Data", new {  id=item.idatencion  })" class="text-white" style="text-decoration:none;">
                        <i class="bi bi-journal-text"></i>
                    </a>
                </div>
                <div class="btn btn-danger">
                    <a href="@Url.ActionLink("Delete", "Data", new {  id=item.idatencion  })" class="text-white" style="text-decoration:none;">
                        <i class="bi bi-trash"></i>
                    </a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
