@model incidents.Models.incident

<div class="row">
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-8">

        <div class="card" style="width: 35rem;">
            <div class="card-header">
                <h4>Ticket details</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <dt class="col-sm-3">Id</dt>
                    <dd class="col-sm-7">
                        <div class="form-group">
                            <div class="input-group mb-3 align_middle_text">
                                <span class="input-group-text">
                                    <i class="bi bi-layout-sidebar"></i>
                                </span>
                                @Html.DisplayFor(model => model.id)
                            </div>
                        </div>
                    </dd>
                    <dt class="col-sm-3">From</dt>
                    <dd class="col-sm-7">
                        <div class="form-group">
                            <div class="input-group mb-3 align_middle_text">
                                <span class="input-group-text">
                                    <i class="bi bi-at"></i>
                                </span>
                                @Html.DisplayFor(model => model.from)
                            </div>
                        </div>
                    </dd>
                    <dt class="col-sm-3">To</dt>
                    <dd class="col-sm-7">
                        <div class="form-group">
                            <div class="input-group mb-3 align_middle_text">
                                <span class="input-group-text">
                                    <i class="bi bi-at"></i>
                                </span>
                                @Html.DisplayFor(model => model.to)
                            </div>
                        </div>
                    </dd>
                    <dt class="col-sm-3">Subject</dt>
                    <dd class="col-sm-7">
                        <div class="form-group">
                            <div class="input-group mb-3 align_middle_text">
                                <span class="input-group-text">
                                    <i class="bi bi-textarea-t"></i>
                                </span>
                                @Html.DisplayFor(model => model.subject)
                            </div>
                        </div>
                    </dd>
                    <dt class="col-sm-3">
                        Message
                    </dt>
                    <dd class="col-sm-7">
                        <div class="form-group">
                            <div class="input-group mb-3 align_middle_text">
                                <span class="input-group-text">
                                    <i class="bi bi-card-text"></i>
                                </span>
                                @Html.DisplayFor(model => model.message)
                            </div>
                        </div>
                    </dd>
                    <dt class="col-sm-3">Importance</dt>
                    <dd class="col-sm-7">
                        <div class="form-group">
                            <div class="input-group mb-3 align_middle_text">
                                <span class="input-group-text">
                                    <i class="bi bi-exclamation-circle"></i>
                                </span>
                                @Html.DisplayFor(model => model.importance)
                            </div>
                        </div>
                    </dd>
                    <dt class="col-sm-3">
                        Date
                    </dt>
                    <dd class="col-sm-7">
                        <div class="form-group">
                            <div class="input-group mb-3 align_middle_text">
                                <span class="input-group-text">
                                    <i class="bi bi-calendar"></i>
                                </span>
                                @Model.date.ToString("yyyy-MM-dd HH:mm")
                            </div>
                        </div>
                    </dd>
                    <dt class="col-sm-3">
                        Status
                    </dt>
                    <dd class="col-sm-7">
                        <div class="form-group">
                            <div class="input-group mb-3 align_middle_text">
                                <span class="input-group-text">
                                    <i class="bi bi-clipboard-pulse"></i>
                                </span>
                                @Html.DisplayFor(model => model.status)
                            </div>
                        </div>
                    </dd>
                    <dt class="col-sm-3">Files</dt>
                    <dd class="col-sm-7">
                        @if (Model.files.Count > 0)
                        {
                            foreach (String filename in Model.files)
                            {
                                <div class="btn btn-info">
                                    <a href="@Url.ActionLink("Download", "Data", new {id = Model.id, filename = filename})" class="text-white" style="text-decoration:none;">
                                        <i class="bi bi-cloud-download" title="@filename"></i>
                                    </a>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="btn btn-info">
                                <i class="bi bi-file-earmark-excel" title="No files"></i>
                            </div>
                        }
                    </dd>
                </div>

            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-3">
                        <div class="btn btn-info">
                            <a href="@Url.ActionLink("Index", "Data")" class="text-white" style="text-decoration:none;">
                                <i class="bi bi-caret-left"></i>
                                Back
                            </a>
                        </div>
                    </div>
                    <div class="col-6">
                    </div>
                    <div class="col-3" style="display:flex;justify-content: end;">
                        <div class="btn btn-primary">
                            <a href="@Url.ActionLink("EditTicket", "Data", new {id= Model.id})" class="text-white" style="text-decoration:none;">
                                <i class="bi bi-pencil-square"></i>
                                Edit
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-2">&nbsp;</div>
</div>



<style>
    .align_middle_text{
        display:flex;
        align-items:center;
    }
</style>